name: Android CI - SplitMate

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:

jobs:
  instrumentation-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Permissão Gradle
        run: chmod +x ./gradlew

      - name: Testes instrumentados
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          target: google_apis
          arch: x86_64
          profile: pixel
          disable-animations: true
          emulator-options: >
            -no-window
            -no-audio
            -no-boot-anim
            -gpu swiftshader_indirect
            -no-snapshot
            -partition-size 4096
            -wipe-data
          script: ./gradlew connectedDebugAndroidTest --no-daemon --stacktrace

      - name: Upload relatório de testes
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: instrumentation-test-report
          path: |
            app/build/reports/androidTests/connected/
            app/build/outputs/androidTest-results/connected/
